$SB_verdeacqua_1: #058283;
$SB_verdeacqua_2: #00A6A6;
$SB_verdeacqua_2_tras: #00a6a620;
$SB_grigioscuro: #606D75;
$SB_grigio: #E2E3E7;
$SB_grigiochiaro: #EBECEF;
$SB_celestechiaro: #D9F2F2;
$SB_blu: #0D1B2A;
